torch
openai-whisper
tiktoken
numpy
pandas
sympy
fastapi
starlette
requests
selenium
boto3
mypy-boto3-dynamodb
ffmpeg-python
imageio
imageio-ffmpeg
moviepy==1.0.3
pydantic
google-auth
google-generativeai
protobuf
trio
anyio
